<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="static/css/main.css" rel="stylesheet"/>
        <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="static/css/font-awesome-4.7.0/css/font-awesome.min.css">
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-animate/angular-animate.js"></script>
        <script src="node_modules/angular-route/angular-route.js"></script>
        <script src="node_modules/jquery/dist/jquery.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="static/js/client.js"></script>
        <script src="static/js/style.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body ng-controller="appController as chat" id="body">
        
        <!-- Login page -->
     
        <!-- class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4" -->
           <div id="caption" ng-hide="chat.hideLogPage"><p>Messenger</p></div>
           
           <div id="loginBlock" ng-hide="chat.hideLogPage">
           
               <ul class="nav nav-pills" id="nav">
                   <li ng-class="{ active: chat.isSet(1) }">
                       <a href ng-click="chat.setTab(1)">Sign in</a>
                   </li>
                   <li ng-class="{ active: chat.isSet(2) }">
                       <a href ng-click="chat.setTab(2)">Sign up</a>
                   </li>
               </ul>
           
               <div ng-show="chat.isSet(1)">
                   <input class="authInput center-block" id="login" placeholder="Login" autocomplete="off" ng-model="chat.yourLogin" ng-focus="chat.changeInput()">
                   <input class="authInput center-block" id="password" type="password" placeholder="Password" ng-model="chat.yourPass" ng-focus="chat.changeInput()">
                   <button class="enter" ng-click="chat.enterToChat()">Sign in</button>   
               </div>
           
               <div ng-show="chat.isSet(2)">
                   <input class="authInput center-block" id="login" placeholder="Login" autocomplete="off" ng-model="chat.yourLogin" ng-focus="chat.changeInput()">
                   <input class="authInput center-block" id="password" type="password" placeholder="Password" ng-model="chat.yourPass" ng-focus="chat.changeInput()">
                   <input class="authInput center-block" id="password" type="password" placeholder="Confirm password" ng-model="chat.yourConfirmPass" ng-focus="chat.changeInput()">
                   <button class="enter" ng-click="chat.registrToChat()">Create Account</button>
               </div>
           </div>
           
           <div id="infoBlock" ng-show="chat.authError">{{ chat.loginStatusInfo }}</div>

            <!-- <base href='/'>
            <a href="test">test</a>
            
            <div ng-view></div> -->


        <!-- Chat page -->
        <div id="chatBlock" class="container-fluid" ng-show="chat.showChatPage" >
       
            <div class="row" id="blockForChat">
                <div id="messagesWindow" class="col-sm-8 col-md-8 col-lg-8">
                    <div id="messagesList">
                        <div id="chatName">
                            <span>Messenger</span>
                            <button type="button" id="menuBut" class="navbar-toggle" data-toggle="collapse" data-target="#menuCollapse">
                                <span class="icon-bar"></span> 
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button> 
                        </div>
                        <div class="collapse" id="menuCollapse">
                            <div id="usersOnline" ng-repeat="on in chat.usersOnline | filterByName : chat.myLogin">
                                <span>{{ on.name }}</span>
                                <img class="onlineImg" ng-src="{{ on.online }}"/>
                            </div>
                        </div>

                        <div id="messBlock">
                            <div ng-repeat="m in chat.mess">
                                <div class="name" ng-show="!m.me" ng-bind="m.name"></div>
                                <div ng-class="{ 'msgMe' : m.me, 'msgAll' : !m.me, 'msgDelMe' : m.del && m.me, 'msgDelAll' : m.del && !m.me }">
                                    <i class="fa fa-times delBut" ng-hide="!m.me || m.del" ng-click='chat.setDelMess(m.id)'></i>
                                    <div class="text" ng-bind="m.text"></div>
                                    <span class="date" ng-bind="m.date"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="inputBox">
                        <input type="text" id="messageText" class="col-xs-9 col-sm-10 col-md-10 col-lg-10" placeholder="Enter your message.." 
                        ng-model="chat.yourMess" ng-change="chat.chMessIn()">
                        <div id="messageBtn" class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                            <i class="fa fa-3x fa-telegram" aria-hidden="true" id="messageBtnI" ng-click="chat.sendMess()"></i>
                        </div>
                    </div>
                </div>
           
                <div id="usersWindow" class="col-sm-4 col-md-4 col-lg-4 hidden-xs">
                    <div id="usersList">
                        <div id="myName">{{ chat.myLogin }} online <p>Users online {{ chat.countOnline - 1 }}</p> </div>
                        <div id="userBlock">
                            <div id="usersOnline" ng-repeat="on in chat.usersOnline | filterByName : chat.myLogin">
                                <span>{{ on.name }}</span>
                                <img class="onlineImg" ng-src="{{ on.online }}"/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>