html {
    height: 100%;
}

body {
    font-family: Ubuntu, sans-serif;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background: url('pic/pat3.svg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}



@font-face {
    font-family: quentin;
    src: url('fonts/Quentin.otf'); 
}

/*Authorization page*/

#caption {
    text-align: center;
    position: relative;
    padding-top: 7%;
    margin-left: auto; 
    margin-right: auto;
}
    
#caption > p {
    font-family: quentin;
    font-size: 80px;
    font-weight: 400;
    color: #4F6B72;
    margin: 0;
}

#loginBlock {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid  rgba(192, 192, 192, 0.9);
    border-radius: 3px;
}

@media (min-width: 200px) and (max-width: 370px) {
    #loginBlock {
        width: 300px;
    }
    #caption > p {
        font-size: 70px;
    }
}

@media (min-width: 370px) and (max-width: 550px) {
    #loginBlock {
        width: 350px;
    }
}

@media (min-width: 550px) and (max-width: 850px) {
    #loginBlock {
        width: 390px;
    }
}

@media (min-width: 850px) and (max-width: 1300px) {
    #loginBlock {
        width: 400px;
    }
}

@media (min-width: 1300px) {
    #loginBlock {
        width: 410px;
    }
}

#nav {
    text-align: center;
    margin-bottom: 10px;
}

#nav > li {
    float: none;
    display: inline-block;
    margin: 5px 5px 5px 5px;
}

#nav > li > a {
    padding: 5px 18px;
    font-weight: 700;
    font-size: 23px;
    border-radius: 0;
    color: rgba(192, 192, 192, 0.6);
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-appearance: none; 
}

#nav > li.active > a {
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgb(127, 182, 215);
    border-radius: 1px;
    color: rgb(127, 182, 215);
}

.authInput {
    width: 90%;
    padding: 12px;
    border: 2px solid #e2e2e2;
    border-radius: 3px;
    margin: 20px;
    font-size: 14px;
    color: black;
    outline: none;
}

input::-webkit-input-placeholder       {opacity: 0.9; transition: opacity 0.3s ease; color: #7a7a7a;}
input::-moz-placeholder                {opacity: 0.9; transition: opacity 0.3s ease; color: #7a7a7a;}
input:-moz-placeholder                 {opacity: 0.9; transition: opacity 0.3s ease; color: #7a7a7a;}
input:-ms-input-placeholder            {opacity: 0.9; transition: opacity 0.3s ease; color: #7a7a7a;}
input:focus::-webkit-input-placeholder {opacity: 0.4; transition: opacity 0.3s ease; color: #7a7a7a;}
input:focus::-moz-placeholder          {opacity: 0.4; transition: opacity 0.3s ease; color: #7a7a7a;}
input:focus:-moz-placeholder           {opacity: 0.4; transition: opacity 0.3s ease; color: #7a7a7a;}
input:focus:-ms-input-placeholder      {opacity: 0.4; transition: opacity 0.3s ease; color: #7a7a7a;}

.enter {
    border: 0;
    border-radius: 3px;
    padding: 12px 20px;
    margin: 15px auto 5px auto;
    display: block;
    font-size: 15px;
    color: #fff;
    background: rgb(127, 182, 215);
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.enter:hover {
    background-color: rgb(67, 138, 191);
}

.enter:active, .enter:focus {
    outline: none !important;
}

#infoBlock {
    font-size: 18px;
    color: gray;
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    text-align: center;
    opacity: 1;
}

#infoBlock.ng-hide-remove {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-appearance: none;
}

#infoBlock.ng-hide {
   opacity: 0;
} 
 
/*Chat page*/

#chatBlock {
    height: 100%;
    position: relative;
    color: #4F6B72;
    padding-top: 5px;
    padding-bottom: 5px;
}

#blockForChat { 
    height: 100%;
}

#messagesWindow { 
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

#messBlock {
    padding-top: 75px;
    padding-bottom: 10px;
    z-index: 5;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

#messagesList {
    position: relative;
    background-color: rgba(211, 211, 211, 1);
    height: 90%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.msgAll {
    position: relative;
    margin-bottom: 12px;
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    width: 45%;
    border-radius: 4px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    float: left;
    clear: both;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
}

.msgMe {
    position: relative;
    margin-bottom: 12px;
    margin-right: 10px;
    border: 1px solid rgba(127, 182, 215, 0.4);
    width: 45%;
    border-radius: 4px;
    padding: 10px;
    background-color: rgba(127, 182, 215, 0.7);
    float: right;
    clear: both;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
}

.msgDelMe {
    position: relative;
    float: right;
    clear: both;
    background-color: orange;
    margin-bottom: 12px;
    margin-right: 10px;
    border: 1px solid;
    width: 45%;
    border-radius: 4px;
    padding: 10px;
    border-color: orange;
    /* transition: all 0.3s ease-out; 
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out; */
    -webkit-appearance: none;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
}

.msgDelAll {
    position: relative;
    float: left;
    clear: both;
    background-color: orange;
    margin-bottom: 12px;
    margin-left: 10px;
    border: 1px solid;
    width: 45%;
    border-radius: 4px;
    padding: 10px;
    border-color: orange;
    /* transition: all 0.3s ease-out; 
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out; */
    -webkit-appearance: none;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
}

.delBut {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 15px;
    height: 15px;
    border-radius: 10px;    
}

.delBut:hover {
    cursor: pointer;
    color: orange;
}

.text {
    word-wrap: break-word;
    padding-bottom: 8px;
    padding-right: 20px;
}

.name {
    margin-left: 12px;
    margin-bottom: 3px;
    position: relative;
    height: 45%;
    float: left;
    clear: both;
}

.date {
    position: absolute;
    right: 15px;
    font-size: 10px;
    bottom: 5px;
}

#chatName {
    z-index: 10;
    position: absolute;
    width: 100%;   
    height: 55px;
    color: white;
    font-family: quentin;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: rgb(127, 182, 215);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
}

#inputBox {
    position: relative;
    border: 0;
    border-radius: 3px;
    width: 100%;
    height: 10%;
    margin-top: 5px;
    background-color: rgba(211, 211, 211, 1);
}

#messageText {
    padding: 10px 20px;
    border: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 100%;
    outline: none !important;
}

#messageBtn {
    height: 100%;
    cursor: pointer;
    float: right; 
    color: rgb(127, 182, 215);
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
    text-align: center;
    display: table;
}

#messageBtnI {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#messageBtnI:active, #messageBtnI:hover {
    color: rgb(67, 138, 191);
}

#usersWindow {
    height: 100%;
    padding-left : 0px;
    padding-right : 5px;
}

#userBlock {
    padding-top: 67px;
    padding-bottom: 10px;
    z-index: 5;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

#usersList {
    position: relative;
    width:100%;
    height: 100%;
    border-radius: 4px; 
    background-color: rgba(211, 211, 211, 1);
}

#usersOnline {
    position: relative;
    margin: 8px;
    padding: 15px 15px;
    border: 1px solid rgba(127, 182, 215, 0.4);
    border-radius: 3px;
    background-color: rgba(127, 182, 215, 0.7); 
    color: #4F6B72;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
}

#myName {
    z-index: 10;
    position: absolute;
    height: 55px;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: rgb(127, 182, 215);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.35);
}

.onlineImg {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin-top: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece{
  background-color: rgb(220, 220, 220);
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical{
  height: 5px;
  background-color: rgb(169, 169, 169);
  -webkit-border-radius: 5px;
}




